@import "../base/variables";

//header
.navbar-modified {
    background-color: transparent;
    font-family: $font-sanserif;
}
.nav-link-modified{
    color: white;
    text-decoration: none;
    margin: 10px;
    padding: 5px;

}
.image-size-logo {
    max-width: 50%;
    margin-left: 20px;
}
.background-img {
    background-image: url(../img/hotel-noche.jpg);
    background-position: bottom;
    background-size: cover;
    text-align: center;
}
//body fuentes
.font-ppal{
    font-family: $font-serif;
}
.font-secu{
    font-family: $font-sanserif;
}
//colores
.text-white {
    color: white;
}
.text-blue {
    color: $color-ppal;
}
.text-ligth-blue {
    color: $color-secund;
}
//margenes
.padding-banner {
    padding-bottom: 7rem;
}
.margin-top-h1 {
    margin-top: 6rem;
}
//filtrador
.container-buscador {
    padding: 3rem;
    background-color: $color-ppal;
    border-radius: 5px;
    margin-top: -20px;
    color: $color-secund;
}
.container-buscador-p {
        font-family: $font-sanserif;
        font-size: smaller;
        font-weight: bold;
}    
.container-buscador-input {
        opacity: 50%;
        color: $color-ppal;
        background-color: $color-secund;
        max-width: 7rem;
        max-height: 2rem;
}
//fotos e info
.image-size-info {
    max-width: 100%;
}
.image-bar-margin {
    margin-left: 2rem;
    margin-top: 2rem;
}
