@import "../base/variables";

//header
.navbar-modified {
    background-color: transparent;
    font-family: $font-sanserif;
}
.nav-link-modified{
    color: white;
    text-decoration: none;
    margin: 10px;
    padding: 5px;

}
.image-size-logo {
    max-width: 50%;
    margin-left: 20px;
}
.background-img {
    background-image: url(../img/hotel-noche.jpg);
    background-position: bottom;
    background-size: cover;
    text-align: center;
}
//colores
.text-white {
    color: white;
}
.text-blue {
    color: $color-ppal;
}
.text-ligth-blue {
    color: $color-secund;
}
//margenes
.padding-banner {
    padding-bottom: 7rem;
}
.margin-top-h1 {
    margin-top: 10rem;
    padding-right: 7rem;
}
.margin-div{
    margin-top: 20px;
}
//filtrador
.container-buscador {
    padding: 2rem;
    background-color: $color-ppal;
    border-radius: 5px;
    margin-top: -25px;
    color: $color-secund;
}
.container-buscador-p {
        font-family: $font-sanserif;
        font-size: smaller;
        font-weight: bold;
}    
.container-buscador-input {
        color: $color-secund;
        background-color: transparent;
        max-height: 2rem;
        max-width: 5rem;
        border: solid 3px #fff;
}
.container-buscador-check {
    color: $color-secund;
    background-color: transparent;
    max-height: 2rem;
    max-width: 8rem;
    border: solid 3px #fff;
}
.button-input {
    color: $color-ppal;
    background-color: $color-secund;
    max-height: 2rem;
    max-width: 5rem;
}
.button-input:hover {
    background-color: #fff;
}

//fotos e info
.image-size-info {
    max-width: 80%;
}
.image-bar-margin {
    margin-left: 2rem;
}
.image-icon-amenities {
    max-width: 10%;
}



//footer
footer {
    padding-top: 10px;
    background-color: $color-secund;
    div ul li {
        list-style: none;
        text-align: center;
    div ul li p {
        font-size: small;
        font-family: $font-sanserif;
}
}
}

a {
    color: $color-ppal;
    text-decoration: underline;
}
.image-icon-footer {
    max-width: 10%;
}