/*mobile*/
@media (min-width: 0) and (max-width: 768px){
    .margin-top-h1 {
        margin-top: 2rem;
        text-align: center;
        margin-right: 2rem;
        margin-left: 2rem;
    }
}

 /*tablet*/
 @media (min-width: 768px) and (max-width: 992px){
    .margin-top-h1 {
        margin-top: 2rem;
        text-align: center;
        margin-right: 2rem;
        margin-left: 2rem;
    }
 }